a {
    img{
        width: 80px;
    }
}

a:hover {
    filter: invert(27%)
    sepia(51%)
    saturate(2878%)
    hue-rotate(346deg)
    brightness(104%)
    contrast(97%)
}

span {
    font-size: large;
}

p {
    text-align: justify;
    text-justify: inter-word;
    font-size: large;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5px;
    color: black;
    background-color: gray;
    border: 2px solid var(--secondary-color);
    border-radius: 10px;
    padding: 3px;
}

.tdbg0 {
    color: var(--secondary-color);
    font-weight: bold;
}
.tdbg1 {
    color: var(--primary-color);
    font-weight: bold;
}