.mainDiv{
    height: 100%;
    width: 100%;

    p{
        color: var(--primary-color);
        font-size: large;
        margin-left: 10px;
        margin-right: 10px;
    }

    .topDiv{
        display: flex;
        height: 82.5px;
        width: 100%;
        height: 100px;
        justify-content: center;
        box-shadow: 0 8px 6px -6px var(--secondary-color);

        img {
            height: 70px;
            width: 70px;
            margin: 15px;
            border-radius: 50%;
        }
        .title{
            font: size 56px;
            margin-top: 35px;
            color: var(--primary-color);
            text-shadow: 1px 1px 10px var(--primary-shadow);
        }
    }
    .contentArea {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;

        .certifications {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-top: 10px;
            text-align: center;
            width: 100%;
            border: 1px;
            color: var(--primary-color);
        }

        .mainContentDiv {
            background-color: var(--background-secondary);
            display: flex;
            flex-direction: column;
            width: 100%;
            height: auto;

            hr {
                background-color: var(--secondary-color);
                height: 1px; 
                border: none; 
                width: 100%;
            }

            .skillsDiv {
                color: var(--primary-color);

                table {
                    width: 100%;
                    
                    td {
                        white-space: nowrap;
                    }
                }

                margin-bottom: 10px;
            }
            .experienceDiv {
                color: var(--primary-color);

                table {
                    width: 100%;
                    
                    td {
                        white-space: nowrap;
                    }
                }
            }
        }
    }
}