<div class="mainDiv">
  <div class="topDiv">
    <img src="../assets/SelfImage.PNG"/>
    <h1 class="title">Portfolio of Brett Bates</h1>
    <p style="font-size: medium; display: none;"><br/>937.823.9192 brettbates01@gmail.com Dayton, Ohio</p>
  </div>
  <div class="contentArea">
    <section class="certifications">
        <p>Certifications</p>
        <app-certifications></app-certifications>
    </section>
    <section class="mainContentDiv">
      <div class="summaryDiv">
        <div style="display: flex; flex-direction: row;">
          <hr>
          <p>Summary</p>
          <hr>
        </div>
        <p>
          Over 20 years of experience in the tech industry, working from startups 
          to corporations in both commercial and DoD settings for companies
          including Lam Research, Lockheed Martin and Leidos. Supporting challenging 
          projects from front and back end development to operations and sustainment
          to infrastructure on-prem clound migration into both AWS and Azure. 
          Experienced Integration Analyst / Database Team Lead with a demonstrated 
          history of working in the information technology and services industry. 
          Skilled in Oracle & Teradata Database Systems, Linux System Administration
          along with various programming languages including Python, Perl, Ruby, HTML, 
          Javascript and others. Strong engineering professional with a Bachelor's 
          Degree in Information Technology focused in Software Architecture from 
          Capella University. 
        </p>
      </div>
      <div class="skillsDiv">
        <div style="display: flex; flex-direction: row;">
          <hr>
          <p>Skills</p>
          <hr>
        </div>
        <app-skills></app-skills>
      </div>
      <div class="experienceDiv">
        <div style="display: flex; flex-direction: row;">
          <hr>
          <p>Experience</p>
          <hr>
        </div>
        <app-experience></app-experience>
      </div>
      <div>
      </div>
    </section>
  </div>
</div>